<a href="https://colab.research.google.com/github/Kaleab1999/text-analytics-NLP/blob/main/Stock_market_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv('/content/drive/MyDrive/dataset/stock sentiment.csv')
df.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links
3,2000-01-06,1,Pilgrim knows how to progress,Thatcher facing ban,McIlroy calls for Irish fighting spirit,Leicester bin stadium blueprint,United braced for Mexican wave,"Auntie back in fashion, even if the dress look...",Shoaib appeal goes to the top,Hussain hurt by 'shambles' but lays blame on e...,...,Putin admits Yeltsin quit to give him a head s...,BBC worst hit as digital TV begins to bite,How much can you pay for...,Christmas glitches,"Upending a table, Chopping a line and Scoring ...","Scientific evidence 'unreliable', defence claims",Fusco wins judicial review in extradition case,Rebels thwart Russian advance,Blair orders shake-up of failing NHS,Lessons of law's hard heart
4,2000-01-07,1,Hitches and Horlocks,Beckham off but United survive,Breast cancer screening,Alan Parker,Guardian readers: are you all whingers?,Hollywood Beyond,Ashes and diamonds,Whingers - a formidable minority,...,Most everywhere: UDIs,Most wanted: Chloe lunettes,Return of the cane 'completely off the agenda',From Sleepy Hollow to Greeneland,Blunkett outlines vision for over 11s,"Embattled Dobson attacks 'play now, pay later'...",Doom and the Dome,What is the north-south divide?,Aitken released from jail,Gone aloft

In [4]:
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20141231']

In [5]:
df.tail()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
4096,2016-06-27,0,Barclays and RBS shares suspended from trading...,Pope says Church should ask forgiveness from g...,Poland 'shocked' by xenophobic abuse of Poles ...,"There will be no second referendum, cabinet ag...","Scotland welcome to join EU, Merkel ally says",Sterling dips below Friday's 31-year low amid ...,No negative news about South African President...,Surge in Hate Crimes in the U.K. Following U.K...,...,German lawyers to probe Erdogan over alleged w...,"Boris Johnson says the UK will continue to ""in...",Richard Branson is calling on the UK governmen...,Turkey 'sorry for downing Russian jet',Edward Snowden lawyer vows new push for pardon...,Brexit opinion poll reveals majority don't wan...,"Conservative MP Leave Campaigner: ""The leave c...","Economists predict UK recession, further weake...","New EU 'superstate plan by France, Germany: Cr...",Pakistani clerics declare transgender marriage...
4097,2016-06-28,1,"2,500 Scientists To Australia: If You Want To ...","The personal details of 112,000 French police ...",S&amp;P cuts United Kingdom sovereign credit r...,Huge helium deposit found in Africa,CEO of the South African state broadcaster qui...,"Brexit cost investors $2 trillion, the worst o...",Hong Kong democracy activists call for return ...,Brexit: Iceland president says UK can join 'tr...,...,"US, Canada and Mexico pledge 50% of power from...",There is increasing evidence that Australia is...,"Richard Branson, the founder of Virgin Group, ...","37,000-yr-old skull from Borneo reveals surpri...",Palestinians stone Western Wall worshipers; po...,Jean-Claude Juncker asks Farage: Why are you h...,"""Romanians for Remainians"" offering a new home...",Brexit: Gibraltar in talks with Scotland to st...,8 Suicide Bombers Strike Lebanon,Mexico's security forces routinely use 'sexual...
4098,2016-06-29,1,Explosion At Airport In Istanbul,Yemeni former president: Terrorism is the offs...,UK must accept freedom of movement to access E...,Devastated: scientists too late to captive bre...,British Labor Party leader Jeremy Corbyn loses...,A Muslim Shop in the UK Was Just Firebombed Wh...,Mexican Authorities Sexually Torture Women in ...,UK shares and pound continue to recover,...,"Escape Tunnel, Dug by Hand, Is Found at Holoca...",The land under Beijing is sinking by as much a...,Car bomb and Anti-Islamic attack on Mosque in ...,Emaciated lions in Taiz Zoo are trapped in blo...,Rupert Murdoch describes Brexit as 'wonderful'...,More than 40 killed in Yemen suicide attacks,Google Found Disastrous Symantec and Norton Vu...,Extremist violence on the rise in Germany: Dom...,BBC News: Labour MPs pass Corbyn no-confidence...,Tiny New Zealand town with 'too many jobs' lau...
4099,2016-06-30,1,Jamaica proposes marijuana dispensers for tour...,Stephen Hawking says pollution and 'stupidity'...,Boris Johnson says he will not run for Tory pa...,Six gay men in Ivory Coast were abused and for...,Switzerland denies citizenship to Muslim immig...,Palestinian terrorist stabs israeli teen girl ...,Puerto Rico will default on $1 billion of debt...,Republic of Ireland fans to be awarded medal f...,...,Googles free wifi at Indian railway stations i...,Mounting evidence suggests 'hobbits' were wipe...,The men who carried out Tuesday's terror attac...,Calls to suspend Saudi Arabia from UN Human Ri...,More Than 100 Nobel Laureates Call Out Greenpe...,British pedophile sentenced to 85 years in US ...,"US permitted 1,200 offshore fracks in Gulf of ...",We will be swimming in ridicule - French beach...,UEFA says no minutes of silence for Istanbul v...,Law Enforcement Sources: Gun Used in Paris Ter...
4100,2016-07-01,1,A 117-year-old woman in Mexico City finally re...,IMF chief backs Athens as permanent Olympic host,"The president of France says if Brexit won, so...",British Man Who Must Give Police 24 Hours' Not...,100+ Nobel laureates urge Greenpeace to stop o...,Brazil: Huge spike in number of police killing...,Austria's highest court annuls presidential el...,"Facebook wins privacy case, can track any Belg...",...,"The United States has placed Myanmar, Uzbekist...",S&amp;P revises European Union credit rating t...,India gets $1 billion loan from World Bank for...,U.S. sailors detained by Iran spoke too much u...,Mass fish kill in Vietnam solved as Taiwan ste...,Philippines president Rodrigo Duterte urges pe...,Spain arrests three Pakistanis accused of prom...,"Venezuela, where anger over food shortages is ...",A Hindu temple worker has been killed by three...,Ozone layer hole seems to be healing - US &amp...

In [6]:
test.shape,train.shape

((378, 27), (3975, 27))

In [7]:
data=train.iloc[:,2:27]
data2= test.iloc[:,2:27]

In [8]:
list1= [i for i in range(25)]
new_Index=[str(i) for i in list1]
data.columns= new_Index
data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar's debut double,"Southgate strikes, Leeds pay the penalty",...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,Hopkins 'furious' at Foster's lack of Hannibal...,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,McGrath puts India out of their misery,Blair Witch bandwagon rolls on,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links
3,Pilgrim knows how to progress,Thatcher facing ban,McIlroy calls for Irish fighting spirit,Leicester bin stadium blueprint,United braced for Mexican wave,"Auntie back in fashion, even if the dress look...",Shoaib appeal goes to the top,Hussain hurt by 'shambles' but lays blame on e...,England's decade of disasters,Revenge is sweet for jubilant Cronje,...,Putin admits Yeltsin quit to give him a head s...,BBC worst hit as digital TV begins to bite,How much can you pay for...,Christmas glitches,"Upending a table, Chopping a line and Scoring ...","Scientific evidence 'unreliable', defence claims",Fusco wins judicial review in extradition case,Rebels thwart Russian advance,Blair orders shake-up of failing NHS,Lessons of law's hard heart
4,Hitches and Horlocks,Beckham off but United survive,Breast cancer screening,Alan Parker,Guardian readers: are you all whingers?,Hollywood Beyond,Ashes and diamonds,Whingers - a formidable minority,Alan Parker - part two,"Thuggery, Toxins and Ties",...,Most everywhere: UDIs,Most wanted: Chloe lunettes,Return of the cane 'completely off the agenda',From Sleepy Hollow to Greeneland,Blunkett outlines vision for over 11s,"Embattled Dobson attacks 'play now, pay later'...",Doom and the Dome,What is the north-south divide?,Aitken released from jail,Gone aloft

In [9]:
list2= [i for i in range(25)]
new_Index2=[str(i) for i in list1]
data2.columns= new_Index
data2.head(5)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
3723,Most cases of cancer are the result of sheer b...,Iran dismissed United States efforts to fight ...,Poll: One in 8 Germans would join anti-Muslim ...,UK royal family's Prince Andrew named in US la...,Some 40 asylum-seekers refused to leave the bu...,Pakistani boat blows self up after India navy ...,Sweden hit by third mosque arson attack in a week,940 cars set alight during French New Year,Salaries for top CEOs rose twice as fast as av...,"Norway violated equal-pay law, judge says: Jud...",...,Ukrainian minister threatens TV channel with c...,Palestinian President Mahmoud Abbas has entere...,Israeli security center publishes names of 50 ...,The year 2014 was the deadliest year yet in Sy...,A Secret underground complex built by the Nazi...,Restrictions on Web Freedom a Major Global Iss...,Austrian journalist Erich Mchel delivered a pr...,Thousands of Ukraine nationalists march in Kiev,Chinas New Years Resolution: No More Harvestin...,Authorities Pull Plug on Russia's Last Politic...
3724,Moscow-&gt;Beijing high speed train will reduc...,Two ancient tombs were discovered in Egypt on ...,China complains to Pyongyang after N Korean so...,Scotland Headed Towards Being Fossil Fuel-Free...,Prime Minister Shinzo Abe said Monday he will ...,Sex slave at centre of Prince Andrew scandal f...,Gay relative of Hamas founder faces deportatio...,The number of female drug addicts in Iran has ...,"After Decades of Searching, the Causeway for t...",India lost 64 tigers in 2014,...,The Islamic State has approved a 2015 budget o...,"Iceland To Withdraw EU Application, Lift Capit...",Blackfield Capital Founder Goes Missing: The v...,Rocket stage crashes back to Earth in rural Ch...,2 Dead as Aircraft Bombs Greek Tanker in Libya...,Belgian murderer Frank Van Den Bleeken to die ...,Czech President criticizes Ukrainian PM; says ...,3 Vietnamese jets join search for 16 missing F...,France seeks end to Russia sanctions over Ukraine,China scraps rare earths caps
3725,US oil falls below $50 a barrel,"Toyota gives away 5,680 fuel cell patents to b...",Young Indian couple who had been granted polic...,A senior figure in Islamic States self-declare...,Fukushima rice passes radiation tests for 1st ...,Nearly all Spanish parties guilty of financial...,King Abdullah to abdicate Saudi Throne,Taliban Commander Caught Networking On LinkedIn,Mexican missing students: mayor's wife charged...,New York Times reporter James Risen refused on...,...,Thousands of Indians have fled from their home...,Turkey sacks judges who oversaw Erdogan corrup...,SpaceX Falcon 9 launch and recovery has been a...,CNN: Americans charged in botched Gambia coup,Islamic State 'Police' Official Beheaded.,Libya bans Palestinians from country to preven...,A judicial inquiry was opened in France on Mon...,Video has captured the moment a cameraman was ...,Syria has complained to the United Nations tha...,"Tests over, India set to make the iris of bigg..."
3726,'Shots fired' at French magazine HQ,90% of Bibi Netanyahus Campaign Funds From U.S.,ISIS behead street magician for entertaining c...,Denmark sets new world record in renewable ene...,"ISIS Closes Schools In Syria, Leaving 670000 C...",The European Union wants Turkey to explain how...,10 people have died in a shooting at the headq...,Most Earth-like planet ever discovered could b...,New questions raised about U.S.-Saudi relation...,Massive hunt underway for gunmen in Paris terr...,...,Discovery of witnesss mutilated body feeds cla...,Radical Islam a growing threat to sub-Saharan ...,Tony Blair may 'face war crime charges' over I...,Benjamin Netanyahu says settlements unlikely t...,Tasmania moves to allow corporations to sue pr...,Indonesia search chief: Tail section of AirAsi...,"North Korean Defector: ""Bureau 121"" Hackers lo...",Female suicide bomber attacks police station i...,IS to turn Syria schools into religious indoct...,Ebola vaccine trials in Halifax so far a success
3727,New Charlie Hebdo issue to come out next week:...,"Ahmed Merabet, Cop Killed In Paris Attacks, Wa...",Youngest Suspect in Charlie Hebdo Attack Turns...,"Grenades thrown at a mosque in Le Mans, west o...",Danish newspaper to print Charlie Hebdo cartoo...,Muslim politician from India offers $8M to Cha...,Vladimir Putin has condemned a deadly terroris...,Turkey is trying to hide any evidence that hol...,Danish Paper That Published 12 Muhammad Cartoo...,Two Charlie Hebdo attackers located in north F...,...,Thousands in Europe hold up Pens in Solidarity...,Journalists race to show solidarity with 'Char...,Antibiotics: US discovery labelled 'game-chang...,The Charlie Hebdo attack condemned by Saudi Ar...,"Brisbane man wearing ""I'm with stupid"" t-shirt...",Fourth Russian General Commits Suicide in Less...,"Meteorite turns night into day over Bucharest,...",Israeli doctors implant Syrian man with titani...,Unusual Metal Recovered from Ancient Greek Shi...,Young mother let terrorists into Charlie Hebdo...

In [10]:
# Normalization
for index in new_Index:
    data[index]=data[index].str.lower()

for index in new_Index2:
    data2[index]=data2[index].str.lower()
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,a 'hindrance to operations': extracts from the...,scorecard,hughes' instant hit buoys blues,jack gets his skates on at ice-cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,derby raise a glass to strupar's debut double,"southgate strikes, leeds pay the penalty",...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl's successor drawn into scandal,the difference between men and women,"sara denver, nurse turned solicitor",diana's landmine crusade put tories in a panic,yeltsin's resignation caught opposition flat-f...,russian roulette,sold out,recovering a title

In [11]:
data2.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
3723,most cases of cancer are the result of sheer b...,iran dismissed united states efforts to fight ...,poll: one in 8 germans would join anti-muslim ...,uk royal family's prince andrew named in us la...,some 40 asylum-seekers refused to leave the bu...,pakistani boat blows self up after india navy ...,sweden hit by third mosque arson attack in a week,940 cars set alight during french new year,salaries for top ceos rose twice as fast as av...,"norway violated equal-pay law, judge says: jud...",...,ukrainian minister threatens tv channel with c...,palestinian president mahmoud abbas has entere...,israeli security center publishes names of 50 ...,the year 2014 was the deadliest year yet in sy...,a secret underground complex built by the nazi...,restrictions on web freedom a major global iss...,austrian journalist erich mchel delivered a pr...,thousands of ukraine nationalists march in kiev,chinas new years resolution: no more harvestin...,authorities pull plug on russia's last politic...
3724,moscow-&gt;beijing high speed train will reduc...,two ancient tombs were discovered in egypt on ...,china complains to pyongyang after n korean so...,scotland headed towards being fossil fuel-free...,prime minister shinzo abe said monday he will ...,sex slave at centre of prince andrew scandal f...,gay relative of hamas founder faces deportatio...,the number of female drug addicts in iran has ...,"after decades of searching, the causeway for t...",india lost 64 tigers in 2014,...,the islamic state has approved a 2015 budget o...,"iceland to withdraw eu application, lift capit...",blackfield capital founder goes missing: the v...,rocket stage crashes back to earth in rural ch...,2 dead as aircraft bombs greek tanker in libya...,belgian murderer frank van den bleeken to die ...,czech president criticizes ukrainian pm; says ...,3 vietnamese jets join search for 16 missing f...,france seeks end to russia sanctions over ukraine,china scraps rare earths caps
3725,us oil falls below $50 a barrel,"toyota gives away 5,680 fuel cell patents to b...",young indian couple who had been granted polic...,a senior figure in islamic states self-declare...,fukushima rice passes radiation tests for 1st ...,nearly all spanish parties guilty of financial...,king abdullah to abdicate saudi throne,taliban commander caught networking on linkedin,mexican missing students: mayor's wife charged...,new york times reporter james risen refused on...,...,thousands of indians have fled from their home...,turkey sacks judges who oversaw erdogan corrup...,spacex falcon 9 launch and recovery has been a...,cnn: americans charged in botched gambia coup,islamic state 'police' official beheaded.,libya bans palestinians from country to preven...,a judicial inquiry was opened in france on mon...,video has captured the moment a cameraman was ...,syria has complained to the united nations tha...,"tests over, india set to make the iris of bigg..."
3726,'shots fired' at french magazine hq,90% of bibi netanyahus campaign funds from u.s.,isis behead street magician for entertaining c...,denmark sets new world record in renewable ene...,"isis closes schools in syria, leaving 670000 c...",the european union wants turkey to explain how...,10 people have died in a shooting at the headq...,most earth-like planet ever discovered could b...,new questions raised about u.s.-saudi relation...,massive hunt underway for gunmen in paris terr...,...,discovery of witnesss mutilated body feeds cla...,radical islam a growing threat to sub-saharan ...,tony blair may 'face war crime charges' over i...,benjamin netanyahu says settlements unlikely t...,tasmania moves to allow corporations to sue pr...,indonesia search chief: tail section of airasi...,"north korean defector: ""bureau 121"" hackers lo...",female suicide bomber attacks police station i...,is to turn syria schools into religious indoct...,ebola vaccine trials in halifax so far a success
3727,new charlie hebdo issue to come out next week:...,"ahmed merabet, cop killed in paris attacks, wa...",youngest suspect in charlie hebdo attack turns...,"grenades thrown at a mosque in le mans, west o...",danish newspaper to print charlie hebdo cartoo...,muslim politician from india offers $8m to cha...,vladimir putin has condemned a deadly terroris...,turkey is trying to hide any evidence that hol...,danish paper that published 12 muhammad cartoo...,two charlie hebdo attackers located in north f...,...,thousands in europe hold up pens in solidarity...,journalists race to show solidarity with 'char...,antibiotics: us discovery labelled 'game-chang...,the charlie hebdo attack condemned by saudi ar...,"brisbane man wearing ""i'm with stupid"" t-shirt...",fourth russian general commits suicide in less...,"meteorite turns night into day over bucharest,...",israeli doctors implant syrian man with titani...,unusual metal recovered from ancient greek shi...,young mother let terrorists into charlie hebdo...

In [12]:
headlines = []
for row in range(0,len(data.index)):
    headlines.append(' '.join(str(x) for x in data.iloc[row,0:25]))

test_data = []
for row in range(0,len(data2.index)):
    test_data.append(' '.join(str(x) for x in data2.iloc[row,0:25]))

In [13]:
headlines[0]

"a 'hindrance to operations': extracts from the leaked reports scorecard hughes' instant hit buoys blues jack gets his skates on at ice-cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton's party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar's debut double southgate strikes, leeds pay the penalty hammers hand robson a youthful lesson saints party like it's 1999 wear wolves have turned into lambs stump mike catches testy gough's taunt langer escapes to hit 167 flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl's successor drawn into scandal the difference between men and women sara denver, nurse turned solicitor diana's landmine crusade put tories in a panic yeltsin's resignation caught opposition flat-footed russian roulette sold out recovering a title"

In [14]:
test_data[1]

'moscow-&gt;beijing high speed train will reduce trip time to 48 hours, from the current 7 days two ancient tombs were discovered in egypt on sunday, with one representing a symbolic burial site of the god osiris while another is claimed to be a previously unknown pharaonic tomb. china complains to pyongyang after n korean soldier kills villagers | world news scotland headed towards being fossil fuel-free by 2030 - renewable energy projects combined with energy savings could decarbonise the countrys power sector. "we need to see the phasing out of conventional generation in scotland." prime minister shinzo abe said monday he will express remorse for japans actions in world war ii while highlighting the countrys bid to contribute more actively to world peace in his statement marking the 70th anniversary of the wars end in august. sex slave at centre of prince andrew scandal fled to australia as a teen gay relative of hamas founder faces deportation from canada: christian convert, 24, whose five uncles were jailed in israel for terror activity, says hell be killed if forced to return to west bank the number of female drug addicts in iran has almost doubled since 2007, with more than 50% starting between the ages of 15 and 19 after decades of searching, the causeway for the great pyramid of egypt has been found india lost 64 tigers in 2014 lizard squad hacking of sony was "huge marketing" scheme to launch "lizard stresser", a paid hacking service. russia \'may face chaos\' if extra sanctions imposed: germany the saudi air and land forces carry out an attack on isis within its territory isil is reportedly setting up a bank in attempt to \'legitimatise\' itself as a nation state israel to brand anti-assimilation group lehava as terrorists the islamic state has approved a 2015 budget of $2 billion, with an expected surplus of $250 million and has opened an islamic bank in mosul. the budget reportedly includes monthly wages for the poor, disabled and families of individuals killed in airstrikes carried out by us-led coalition forces iceland to withdraw eu application, lift capital controls blackfield capital founder goes missing: the value of the ruble isn\'t the only thing that is vanishing in russia. a moscow hedge fund chief executive has disappeared, along with all the money in the firm\'s accounts rocket stage crashes back to earth in rural chinese village. 2 dead as aircraft bombs greek tanker in libyan port belgian murderer frank van den bleeken to die at own request. a belgian murderer and rapist serving a life sentence is to be allowed to die by lethal injection next sunday following a ruling under laws in belgium permitting people to request euthanasia. czech president criticizes ukrainian pm; says yatsenyuk is \'prime minister of war\' 3 vietnamese jets join search for 16 missing filipinos in bahamian cargo ship sinking france seeks end to russia sanctions over ukraine china scraps rare earths caps'

In [15]:
data = pd.DataFrame(headlines)
data2= pd.DataFrame(test_data)

data.head()

                                                   0
0  a 'hindrance to operations': extracts from the...
1  scorecard the best lake scene leader: german s...
2  coventry caught on counter by flo united's riv...
3  pilgrim knows how to progress thatcher facing ...
4  hitches and horlocks beckham off but united su...

In [16]:
corpus=[]
corpus2=[]
con={
    "ain't": "am not / are not / is not / has not / have not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is / how does",
"I'd": "I had / I would",
"I'd've": "I would have",
"I'll": "I shall / I will",
"I'll've": "I shall have / I will have",
"I'm": "I am",
"I've": "I have",
"I've'n't":"I have not",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
'u': 'you',
"u've": "you have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}
def cont(x):
  if (type(x) is str):
    for key in con:
      value=con[key]
      x=x.replace(key,value)
    return x
  else:
    return x

#headlines=cont(headlines)
#test_data=cont(test_data)

for i in range(0,len(data)):
  review= data[0][i]
  review= review.split()
  review= cont(review)
  review= " ".join(review)
  corpus.append(review)

for i in range(0,len(data2)):
  review= data2[0][i]
  review= review.split()
  review= cont(review)
  review= " ".join(review)
  corpus2.append(review)

In [17]:
corpus[0]

"a 'hindrance to operations': extracts from the leaked reports scorecard hughes' instant hit buoys blues jack gets his skates on at ice-cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton's party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar's debut double southgate strikes, leeds pay the penalty hammers hand robson a youthful lesson saints party like it's 1999 wear wolves have turned into lambs stump mike catches testy gough's taunt langer escapes to hit 167 flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl's successor drawn into scandal the difference between men and women sara denver, nurse turned solicitor diana's landmine crusade put tories in a panic yeltsin's resignation caught opposition flat-footed russian roulette sold out recovering a title"

In [18]:
data = pd.DataFrame(corpus)
data2 = pd.DataFrame(corpus2)

data.head()

                                                   0
0  a 'hindrance to operations': extracts from the...
1  scorecard the best lake scene leader: german s...
2  coventry caught on counter by flo united's riv...
3  pilgrim knows how to progress thatcher facing ...
4  hitches and horlocks beckham off but united su...

In [19]:
# removing punctuations, numbers, and special characters

data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)


data2.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

data.head()

                                                   0
0  a  hindrance to operations   extracts from the...
1  scorecard the best lake scene leader  german s...
2  coventry caught on counter by flo united s riv...
3  pilgrim knows how to progress thatcher facing ...
4  hitches and horlocks beckham off but united su...

In [20]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from textblob import Word
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
stops=stopwords.words("english")
unwanted=['no','nor','not']
stops=[ele for ele in stops if ele not in unwanted]
data[0] = data[0].apply(lambda x: " ".join(x for x in x.split() if x not in stops))
data2[0] = data2[0].apply(lambda x: " ".join(x for x in x.split() if x not in stops))

data.head()

                                                   0
0  hindrance operations extracts leaked reports s...
1  scorecard best lake scene leader german sleaze...
2  coventry caught counter flo united rivals road...
3  pilgrim knows progress thatcher facing ban mci...
4  hitches horlocks beckham united survive breast...

In [22]:
from nltk.stem import WordNetLemmatizer #to perform Lemmatizzation
from nltk.tokenize import word_tokenize
import nltk
nltk.download('omw-1.4')


lemmatize=WordNetLemmatizer()
data[0] = data[0].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data2[0] = data2[0].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [23]:
data.head()

                                                   0
0  hindrance operation extract leaked report scor...
1  scorecard best lake scene leader german sleaze...
2  coventry caught counter flo united rival road ...
3  pilgrim know progress thatcher facing ban mcil...
4  hitch horlocks beckham united survive breast c...

In [24]:
data2.head()

                                                   0
0  case cancer result sheer bad luck rather unhea...
1  moscow gt beijing high speed train reduce trip...
2  u oil fall barrel toyota give away fuel cell p...
3  shot fired french magazine hq bibi netanyahus ...
4  new charlie hebdo issue come next week hard su...

In [25]:
headlines=data[0].tolist()
test_data= data2[0].tolist()

headlines[0]

'hindrance operation extract leaked report scorecard hughes instant hit buoy blue jack get skate ice cold alex chaos maracana build united depleted leicester prevail elliott spoil everton party hungry spur sense rich picking gunner wide easy target derby raise glass strupar debut double southgate strike leeds pay penalty hammer hand robson youthful lesson saint party like wear wolf turned lamb stump mike catch testy gough taunt langer escape hit flintoff injury pile woe england hunter threaten jospin new battle somme kohl successor drawn scandal difference men woman sara denver nurse turned solicitor diana landmine crusade put tory panic yeltsin resignation caught opposition flat footed russian roulette sold recovering title'

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
## implement BAG OF WORDS with 1-gram
countvector=CountVectorizer(ngram_range=(1,1))
traindataset=countvector.fit_transform(headlines)

In [28]:
# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(traindataset,train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [29]:
## Predict for the Test Dataset
test_transform= []
test_dataset = countvector.transform(test_data)
predictions = randomclassifier.predict(test_dataset)

In [30]:
## Import library to check accuracy
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [31]:
matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[151  35]
 [ 17 175]]
0.8624338624338624
              precision    recall  f1-score   support

           0       0.90      0.81      0.85       186
           1       0.83      0.91      0.87       192

    accuracy                           0.86       378
   macro avg       0.87      0.86      0.86       378
weighted avg       0.87      0.86      0.86       378

In [32]:
countvector=CountVectorizer(ngram_range=(1,1))
traindataset=countvector.fit_transform(headlines)
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='gini')
randomclassifier.fit(traindataset,train['Label'])

RandomForestClassifier(n_estimators=200)

In [33]:
test_= []
test_da= countvector.transform(test_data)
predictions = randomclassifier.predict(test_da)

In [34]:
matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[144  42]
 [ 14 178]]
0.8518518518518519
              precision    recall  f1-score   support

           0       0.91      0.77      0.84       186
           1       0.81      0.93      0.86       192

    accuracy                           0.85       378
   macro avg       0.86      0.85      0.85       378
weighted avg       0.86      0.85      0.85       378

In [35]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(traindataset.toarray(), train['Label'])

GaussianNB()

In [36]:
test_= []
test_da= countvector.transform(test_data)
predictions = gnb.predict(test_da.toarray())

In [37]:
matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[156  30]
 [ 30 162]]
0.8412698412698413
              precision    recall  f1-score   support

           0       0.84      0.84      0.84       186
           1       0.84      0.84      0.84       192

    accuracy                           0.84       378
   macro avg       0.84      0.84      0.84       378
weighted avg       0.84      0.84      0.84       378

In [38]:
from sklearn import linear_model

logr = linear_model.LogisticRegression()
logr.fit(traindataset, train['Label'])

test_= []
test_= countvector.transform(test_data)
predictions = logr.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[149  37]
 [ 26 166]]
0.8333333333333334
              precision    recall  f1-score   support

           0       0.85      0.80      0.83       186
           1       0.82      0.86      0.84       192

    accuracy                           0.83       378
   macro avg       0.83      0.83      0.83       378
weighted avg       0.83      0.83      0.83       378

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [39]:
from sklearn.svm import SVC  

clf = SVC(kernel='linear') 
  
# fitting x samples and y classes 
clf.fit(traindataset, train['Label']) 

test_= []
test_= countvector.transform(test_data)
predictions = clf.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[149  37]
 [ 28 164]]
0.828042328042328
              precision    recall  f1-score   support

           0       0.84      0.80      0.82       186
           1       0.82      0.85      0.83       192

    accuracy                           0.83       378
   macro avg       0.83      0.83      0.83       378
weighted avg       0.83      0.83      0.83       378

In [40]:
'''
from sklearn.model_selection import GridSearchCV
 
# defining parameter range
param_grid = {'C': [0.1, 1, 10, 100, 1000],
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf', 'linear']}
 
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
 
# fitting the model for grid search
grid.fit(traindataset, train['Label'])'''

"\nfrom sklearn.model_selection import GridSearchCV\n \n# defining parameter range\nparam_grid = {'C': [0.1, 1, 10, 100, 1000],\n              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],\n              'kernel': ['rbf', 'linear']}\n \ngrid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)\n \n# fitting the model for grid search\ngrid.fit(traindataset, train['Label'])"

In [41]:
'''# print best parameter after tuning
print(grid.best_params_)
 
# print how our model looks after hyper-parameter tuning
print(grid.best_estimator_)'''

'# print best parameter after tuning\nprint(grid.best_params_)\n \n# print how our model looks after hyper-parameter tuning\nprint(grid.best_estimator_)'

In [42]:
''' from sklearn.svm import SVC  

clf = SVC(C=0.1, gamma=1) 
  
# fitting x samples and y classes 
clf.fit(traindataset, train['Label']) 

test_= []
test_= countvector.transform(test_data)
predictions = clf.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)'''

" from sklearn.svm import SVC  \n\nclf = SVC(C=0.1, gamma=1) \n  \n# fitting x samples and y classes \nclf.fit(traindataset, train['Label']) \n\ntest_= []\ntest_= countvector.transform(test_data)\npredictions = clf.predict(test_)\n\nmatrix=confusion_matrix(test['Label'],predictions)\nprint(matrix)\nscore=accuracy_score(test['Label'],predictions)\nprint(score)\nreport=classification_report(test['Label'],predictions)\nprint(report)"

In [43]:
## implement BAG OF WORDS with 2-grams
countvector=CountVectorizer(ngram_range=(2,2))
bg_2gram=countvector.fit_transform(headlines)

In [44]:
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(bg_2gram,train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [45]:
test_= []
test_= countvector.transform(test_data)
predictions = randomclassifier.predict(test_)

In [46]:
matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[132  54]
 [  0 192]]
0.8571428571428571
              precision    recall  f1-score   support

           0       1.00      0.71      0.83       186
           1       0.78      1.00      0.88       192

    accuracy                           0.86       378
   macro avg       0.89      0.85      0.85       378
weighted avg       0.89      0.86      0.85       378

In [47]:
randomclassifier=RandomForestClassifier(n_estimators=200)
randomclassifier.fit(bg_2gram,train['Label'])

test_= []
test_= countvector.transform(test_data)
predictions = randomclassifier.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[130  56]
 [  0 192]]
0.8518518518518519
              precision    recall  f1-score   support

           0       1.00      0.70      0.82       186
           1       0.77      1.00      0.87       192

    accuracy                           0.85       378
   macro avg       0.89      0.85      0.85       378
weighted avg       0.89      0.85      0.85       378

In [48]:
import xgboost as xgb

In [49]:
xgb_classifier = xgb.XGBClassifier()
xgb_classifier.fit(bg_2gram,train['Label'])

XGBClassifier()

In [50]:
test_= []
test_= countvector.transform(test_data)
predictions = xgb_classifier.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[ 74 112]
 [ 13 179]]
0.6693121693121693
              precision    recall  f1-score   support

           0       0.85      0.40      0.54       186
           1       0.62      0.93      0.74       192

    accuracy                           0.67       378
   macro avg       0.73      0.67      0.64       378
weighted avg       0.73      0.67      0.64       378

In [52]:
'''import numpy as np
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt','log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 1000,10)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10,14]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4,6,8]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
              'criterion':['entropy','gini']}
print(random_grid)'''

"import numpy as np\nfrom sklearn.model_selection import RandomizedSearchCV\n# Number of trees in random forest\nn_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]\n# Number of features to consider at every split\nmax_features = ['auto', 'sqrt','log2']\n# Maximum number of levels in tree\nmax_depth = [int(x) for x in np.linspace(10, 1000,10)]\n# Minimum number of samples required to split a node\nmin_samples_split = [2, 5, 10,14]\n# Minimum number of samples required at each leaf node\nmin_samples_leaf = [1, 2, 4,6,8]\n# Create the random grid\nrandom_grid = {'n_estimators': n_estimators,\n               'max_features': max_features,\n               'max_depth': max_depth,\n               'min_samples_split': min_samples_split,\n               'min_samples_leaf': min_samples_leaf,\n              'criterion':['entropy','gini']}\nprint(random_grid)"

In [53]:
'''rf=RandomForestClassifier()
rf_randomcv=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,n_iter=100,cv=3,verbose=2,
                               random_state=100,n_jobs=-1)
rf_randomcv.fit(traindataset,train['Label'])'''

"rf=RandomForestClassifier()\nrf_randomcv=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,n_iter=100,cv=3,verbose=2,\n                               random_state=100,n_jobs=-1)\nrf_randomcv.fit(traindataset,train['Label'])"

In [54]:
'''rf_randomcv.best_params_'''

'rf_randomcv.best_params_'

In [55]:
countvector=CountVectorizer(ngram_range=(3,3))
traindataset=countvector.fit_transform(headlines)
randomclassifier=RandomForestClassifier(n_estimators=100,criterion='gini')
randomclassifier.fit(traindataset,train['Label'])

RandomForestClassifier()

In [56]:
test_= []
test_= countvector.transform(test_data)
predictions = randomclassifier.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[130  56]
 [  0 192]]
0.8518518518518519
              precision    recall  f1-score   support

           0       1.00      0.70      0.82       186
           1       0.77      1.00      0.87       192

    accuracy                           0.85       378
   macro avg       0.89      0.85      0.85       378
weighted avg       0.89      0.85      0.85       378

In [57]:
randomclassifier=RandomForestClassifier(criterion='entropy')
randomclassifier.fit(traindataset,train['Label'])

test_= []
test_= countvector.transform(test_data)
predictions = randomclassifier.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[130  56]
 [  0 192]]
0.8518518518518519
              precision    recall  f1-score   support

           0       1.00      0.70      0.82       186
           1       0.77      1.00      0.87       192

    accuracy                           0.85       378
   macro avg       0.89      0.85      0.85       378
weighted avg       0.89      0.85      0.85       378

In [61]:
xgb_classifier = xgb.XGBClassifier()
xgb_classifier.fit(traindataset,train['Label'])

test_= []
test_= countvector.transform(test_data)
predictions = xgb_classifier.predict(test_)

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[ 40 146]
 [  9 183]]
0.58994708994709
              precision    recall  f1-score   support

           0       0.82      0.22      0.34       186
           1       0.56      0.95      0.70       192

    accuracy                           0.59       378
   macro avg       0.69      0.58      0.52       378
weighted avg       0.68      0.59      0.52       378

In [59]:
train['Label'].value_counts()

1    2096
0    1879
Name: Label, dtype: int64