<a href="https://colab.research.google.com/github/Kaleab1999/text-analytics-NLP/blob/main/tweet_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
train=pd.read_csv('/content/drive/MyDrive/dataset/hate_train.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test=pd.read_csv('/content/drive/MyDrive/dataset/hate_test.csv')
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
# removing punctuations, numbers, and special characters

train.replace("[^a-zA-Z]"," ",regex=True, inplace=True)


test.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

train.head()

   id  label                                              tweet
0   1      0    user when a father is dysfunctional and is s...
1   2      0   user  user thanks for  lyft credit i can t us...
2   3      0                                bihday your majesty
3   4      0   model   i love u take with u all the time in ...
4   5      0             factsguide  society now     motivation

In [9]:
# Normalization
import re
corpus=[]
corpus2=[]

for i in range(0, len(train)):
  review = re.sub('[^a-zA-Z]', ' ', train['tweet'][i])#to remove all except letters
  review = review.lower() #lowerring the letter
  review = review.split() #tokenize
  review = ' '.join(review)
  corpus.append(review)

for i in range(0, len(test)):
  review2 = re.sub('[^a-zA-Z]', ' ', test['tweet'][i])#to remove all except letters
  review2 = review2.lower() #lowerring the letter
  review2 = review2.split() #tokenize

  review2 = ' '.join(review2)
  corpus2.append(review2)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

one_g=CountVectorizer(ngram_range=(1,1))
traindataset=one_g.fit_transform(corpus)